In [31]:
#set and multi dimensional dictionary ka nhi banta

import pandas as pd
import numpy as np
data=np.array([10,20,30,40,50])

ser=pd.Series(data,index=["a","b","c","d","e"])
print(ser["a":"c"])
data1={"a":10,"b":20,"c":30}
ser1=pd.Series(data1,index=[1,2])#datatype yaad rakhna
print(ser1)

a    10
b    20
c    30
dtype: int32
1   NaN
2   NaN
dtype: float64

In [14]:
import pandas as pd
import numpy as np
data={10,20,30,40,50,60,70,80,90,10}
df=pd.DataFrame(data)
print(df)
data1=np.array([[10,20,30],[40,50,60]])
df1=pd.DataFrame(data1,columns=["day1","day2","day3"])
print(df1)

    0
0  70
1  40
2  10
3  80
4  50
5  20
6  90
7  60
8  30
   day1  day2  day3
0    10    20    30
1    40    50    60

In [25]:
import pandas as pd
import numpy as np
data={"c_in":[1200,1800,None,1500,1600],"c_out":[1000,800,1200,400,250],"w_hr":[2,None,2,1,1]}
df=pd.DataFrame(data,index=["d1","d2","d3","d4","d5"],columns=["c_in","w_hr"])
print(df)
df1=pd.DataFrame(data,index=["d1","d2","d3","d4","d5"],columns=["c_in","a","w_hr"])
print(df1)

      c_in  w_hr
d1  1200.0   2.0
d2  1800.0   NaN
d3     NaN   2.0
d4  1500.0   1.0
d5  1600.0   1.0
      c_in    a  w_hr
d1  1200.0  NaN   2.0
d2  1800.0  NaN   NaN
d3     NaN  NaN   2.0
d4  1500.0  NaN   1.0
d5  1600.0  NaN   1.0

In [27]:
import pandas as pd
import numpy as np
data={"a":[10],"b":[20],"bc":[20],"db":[20]}#single value will give error always take list even if u have single value
df=pd.DataFrame(data)
print(df)

    a   b  bc  db
0  10  20  20  20